# Eat Safe, Love

## Notebook Set Up

In [2]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [3]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [4]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [5]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [6]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [83]:
# Define the query to find establishments with a hygiene score of 20
query = {"scores.Hygiene": 20}

# Use count_documents to display the number of documents in the result
num_documents = establishments.count_documents(query)
print("Number of establishments with a hygiene score of 20:", num_documents)

# Find and display the first document in the results using pprint
result_hugien = establishments.find(query).limit(1)
pprint(result_hugien[0])

Number of establishments with a hygiene score of 20: 41
{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('6649217ab0819966ba976660'),
 'geocode': {'latitude': 50.769705, 'longitude': 0.27694},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [84]:
# Convert the result to a Pandas DataFrame
# Convert the MongoDB query result to a Pandas DataFrame
df = pd.DataFrame(list(result_hugien))

# Print the number of rows in the DataFrame
print("Number of rows in the DataFrame:", len(df))

# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
print(df.head(10))

Number of rows in the DataFrame: 1
First 10 rows of the DataFrame:
                        _id  FHRSID  ChangesByServerID  \
0  6649217ab0819966ba976660  110681                  0

  LocalAuthorityBusinessID         BusinessName     BusinessType  \
0                     4029  The Chase Rest Home  Caring Premises

   BusinessTypeID          AddressLine1 AddressLine2 AddressLine3  ...  \
0               5  5-6 Southfields Road   Eastbourne  East Sussex  ...

                      LocalAuthorityWebSite       LocalAuthorityEmailAddress  \
0  http://www.eastbourne.gov.uk/foodratings  Customerfirst@eastbourne.gov.uk

                                              scores  SchemeType  \
0  {'Hygiene': 20, 'Structural': 20, 'ConfidenceI...        FHRS

                                         geocode RightToReply     Distance  \
0  {'longitude': 0.27694, 'latitude': 50.769705}               4613.888288

  NewRatingPending                                               meta  \
0            False  {'dataSource': None, 'extractDate': '0001-01-0...

                                               links
0  [{'rel': 'self', 'href': 'https://api.ratings....

[1 rows x 28 columns]

In [79]:
df.head()

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,LocalAuthorityWebSite,LocalAuthorityEmailAddress,scores,SchemeType,geocode,RightToReply,Distance,NewRatingPending,meta,links
0,6649217ab0819966ba976660,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,http://www.eastbourne.gov.uk/foodratings,Customerfirst@eastbourne.gov.uk,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': 0.27694, 'latitude': 50.769705}",,4613.888288,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."

In [ ]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [32]:
# Define the query to find establishments in London with a RatingValue greater than or equal to 4
London_query = {"LocalAuthorityName": {"$regex": "London"}, "RatingValue": {"$gte": 4}}

# Find establishments matching the query
London_result = establishments.find(London_query)

# Use count_documents to display the number of documents in the result
london_documents = establishments.count_documents(London_query)
print("London with RatingValue >= 4:", london_documents)

# Display the first document in the results using pprint if there are any documents

pprint(London_result[0])

London with RatingValue >= 4: 33
{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
 'AddressLine2': 'Sheppy Kent',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': "Charlie's",
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4627.439467780196,
 'FHRSID': 621707,
 'LocalAuthorityBusinessID': 'PI/000025307',
 'LocalAuthorityCode': '508',
 'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
 'LocalAuthorityName': 'City of London Corporation',
 'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'ME12',
 'RatingDate': '2021-10-18T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('6649217ab0819966ba97807c'),
 'geocode': {'latitude': 51.369321, 'longitude': 0.508551},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}

In [ ]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query =

# Use count_documents to display the number of documents in the result

# Display the first document in the results using pprint

In [33]:
# Convert the result to a Pandas DataFrame
London_df = pd.DataFrame(list(London_result))

# Display the number of rows in the DataFrame
London_num_rows = len(df)
print("Number of rows in the DataFrame:", London_num_rows)

# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
print(London_df.head(10))

Number of rows in the DataFrame: 1
First 10 rows of the DataFrame:
                        _id   FHRSID  ChangesByServerID  \
0  6649217ab0819966ba97807c   621707                  0
1  6649217ab0819966ba9783a2  1130836                  0
2  6649217bb0819966ba978eee   293783                  0
3  6649217bb0819966ba979cee  1315095                  0
4  6649217bb0819966ba979cef   294474                  0
5  6649217bb0819966ba97a3fe   294900                  0
6  6649217cb0819966ba97c506   293756                  0
7  6649217cb0819966ba97c8cc   878523                  0
8  6649217cb0819966ba97c8e6   293772                  0
9  6649217cb0819966ba97c8e8   294606                  0

  LocalAuthorityBusinessID                          BusinessName  \
0             PI/000025307                             Charlie's
1             PI/000034075               Mv City Cruises Erasmus
2             PI/000002614             Benfleet Motor Yacht Club
3             PI/000036464  Coombs Catering t/a The Lock and Key
4             PI/000014647              Tilbury Seafarers Centre
5             PI/000019066                            Mv Valulla
6             PI/000002538                         Tereza Joanne
7             PI/000029844                      Brick Lane Brews
8             PI/000002585         The Nuance Group (UK) Limited
9             PI/000016185                              WH Smith

              BusinessType  BusinessTypeID  \
0  Other catering premises            7841
1  Other catering premises            7841
2  Other catering premises            7841
3  Restaurant/Cafe/Canteen               1
4  Restaurant/Cafe/Canteen               1
5  Other catering premises            7841
6  Other catering premises            7841
7  Restaurant/Cafe/Canteen               1
8        Retailers - other            4613
9        Retailers - other            4613

                                        AddressLine1  \
0         Oak Apple Farm Building 103 Sheernes Docks
1                                 Cherry Garden Pier
2                                         Ferry Road
3                                  Leslie Ford House
4                          Tenants Row Tilbury Docks
5  Reeds River Cruises LtdKings ReachRiver Thames...
6  Funcraft UK Ltd King George V Dock Woolwich Ma...
7                       Air side London City Airport
8                  Duty Free Shop Passenger Terminal
9                                London City Airport

                           AddressLine2 AddressLine3  ...  \
0                           Sheppy Kent               ...
1      Cherry Garden Street Rotherhithe     Charlton  ...
2                  South Benfleet Essex               ...
3                               Tilbury     Charlton  ...
4                         Tilbury Essex               ...
5                                London               ...
6                                London               ...
7                                London               ...
8  London City AirportRoyal DocksLondon               ...
9                     Silvertown London               ...

                               LocalAuthorityWebSite  \
0  http://www.cityoflondon.gov.uk/Corporation/hom...
1  http://www.cityoflondon.gov.uk/Corporation/hom...
2  http://www.cityoflondon.gov.uk/Corporation/hom...
3  http://www.cityoflondon.gov.uk/Corporation/hom...
4  http://www.cityoflondon.gov.uk/Corporation/hom...
5  http://www.cityoflondon.gov.uk/Corporation/hom...
6  http://www.cityoflondon.gov.uk/Corporation/hom...
7  http://www.cityoflondon.gov.uk/Corporation/hom...
8  http://www.cityoflondon.gov.uk/Corporation/hom...
9  http://www.cityoflondon.gov.uk/Corporation/hom...

             LocalAuthorityEmailAddress  \
0  publicprotection@cityoflondon.gov.uk
1  publicprotection@cityoflondon.gov.uk
2  publicprotection@cityoflondon.gov.uk
3  publicprotection@cityoflondon.gov.uk
4  publicprotection@cityoflondon.gov.uk
5  publicprotection@cityoflondon.gov.uk
6  publicprotection@cityoflondon.gov.uk
7  publicprotection@cityoflondon.gov.uk
8  publicprotection@cityoflondon.gov.uk
9  publicprotection@cityoflondon.gov.uk

                                              scores  SchemeType  \
0  {'Hygiene': 5, 'Structural': 10, 'ConfidenceIn...        FHRS
1  {'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...        FHRS
2  {'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...        FHRS
3  {'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...        FHRS
4  {'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...        FHRS
5  {'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...        FHRS
6  {'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...        FHRS
7  {'Hygiene': 10, 'Structural': 5, 'ConfidenceIn...        FHRS
8  {'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...        FHRS
9  {'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...        FHRS

                                             geocode RightToReply  \
0     {'longitude': 0.508551, 'latitude': 51.369321}
1  {'longitude': 0.249255999922752, 'latitude': 5...
2     {'longitude': 0.561954, 'latitude': 51.543831}
3  {'longitude': 0.346336990594864, 'latitude': 5...
4     {'longitude': 0.346325, 'latitude': 51.464078}
5     {'longitude': 0.287555, 'latitude': 51.504071}
6     {'longitude': 0.069286, 'latitude': 51.501121}
7     {'longitude': 0.048006, 'latitude': 51.503733}
8     {'longitude': 0.047966, 'latitude': 51.504112}
9  {'longitude': 0.0479655750095844, 'latitude': ...

      Distance NewRatingPending  \
0  4627.439468            False
1  4627.873179            False
2  4631.968418            False
3  4636.846754            False
4  4636.847650            False
5  4640.460834            False
6  4648.301822            False
7  4649.173485            False
8  4649.188826            False
9  4649.188850            False

                                                meta  \
0  {'dataSource': None, 'extractDate': '0001-01-0...
1  {'dataSource': None, 'extractDate': '0001-01-0...
2  {'dataSource': None, 'extractDate': '0001-01-0...
3  {'dataSource': None, 'extractDate': '0001-01-0...
4  {'dataSource': None, 'extractDate': '0001-01-0...
5  {'dataSource': None, 'extractDate': '0001-01-0...
6  {'dataSource': None, 'extractDate': '0001-01-0...
7  {'dataSource': None, 'extractDate': '0001-01-0...
8  {'dataSource': None, 'extractDate': '0001-01-0...
9  {'dataSource': None, 'extractDate': '0001-01-0...

                                               links
0  [{'rel': 'self', 'href': 'https://api.ratings....
1  [{'rel': 'self', 'href': 'http://api.ratings.f...
2  [{'rel': 'self', 'href': 'http://api.ratings.f...
3  [{'rel': 'self', 'href': 'http://api.ratings.f...
4  [{'rel': 'self', 'href': 'http://api.ratings.f...
5  [{'rel': 'self', 'href': 'http://api.ratings.f...
6  [{'rel': 'self', 'href': 'http://api.ratings.f...
7  [{'rel': 'self', 'href': 'http://api.ratings.f...
8  [{'rel': 'self', 'href': 'http://api.ratings.f...
9  [{'rel': 'self', 'href': 'http://api.ratings.f...

[10 rows x 28 columns]

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [70]:
# Search within 0.01 degree on either side of the latitude and longitude.
degree_search = 0.01
latitude = 51.49014200
longitude = 0.08384000

# Rating value must equal 5
query = {
    "geocode.latitude": {"$gte": str(latitude - degree_search), "$lte": str(latitude + degree_search)},
    "geocode.longitude": {"$gte": str(longitude - degree_search), "$lte": str(longitude + degree_search)},
    "RatingValue": "5"
}

# Sort by hygiene score
sort = [("scores.Hygiene", 1)]

# Limit the results
limit = 5

# Print the results
new_result_list = list(establishments.find(query).sort(sort).limit(limit))
print("Query:", query)
print("Sort:", sort)
print("Limit:", limit)

Query: {'geocode.latitude': {'$gte': '51.480142', '$lte': '51.500142'}, 'geocode.longitude': {'$gte': '0.07384', '$lte': '0.09383999999999999'}, 'RatingValue': '5'}
Sort: [('scores.Hygiene', 1)]
Limit: 5

In [72]:
# Convert result to Pandas DataFrame

#result_list = list(establishments.find(query).sort(sort).limit(limit))

# Convert the list of dictionaries to a Pandas DataFrame
df = pd.DataFrame(new_result_list)

# Print the DataFrame
print(df)

Empty DataFrame
Columns: []
Index: []

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [61]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
match_query={"$match": {"scores.Hygiene": 0}}
# 2. Groups the matches by Local Authority
group_query= {"$group": {"_id": "$LocalAuthorityName", "count": {"$sum": 1}}}
# 3. Sorts the matches from highest to lowest
sort_value={"$sort": {"count": -1}}

pipeline = [match_query, group_query, sort_value]

results=list(establishments.aggregate(pipeline))


# Print the number of documents in the result
print(len(results))
# Print the first 10 results
print("First 10 results:")
pprint(results[0:10])

55
First 10 results:
[{'_id': 'Thanet', 'count': 1130},
 {'_id': 'Greenwich', 'count': 882},
 {'_id': 'Maidstone', 'count': 713},
 {'_id': 'Newham', 'count': 711},
 {'_id': 'Swale', 'count': 686},
 {'_id': 'Chelmsford', 'count': 680},
 {'_id': 'Medway', 'count': 672},
 {'_id': 'Bexley', 'count': 607},
 {'_id': 'Southend-On-Sea', 'count': 586},
 {'_id': 'Tendring', 'count': 542}]

In [63]:
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(results)

# Display the number of rows in the DataFrame
print("Number of rows in the DataFrame:", len(df))

# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
df.head(10)

Number of rows in the DataFrame: 55
First 10 rows of the DataFrame:

               _id  count
0           Thanet   1130
1        Greenwich    882
2        Maidstone    713
3           Newham    711
4            Swale    686
5       Chelmsford    680
6           Medway    672
7           Bexley    607
8  Southend-On-Sea    586
9         Tendring    542